@model IEnumerable<QL_WebsiteBanSach.Models.tbl_NhanVien>

@{
	ViewBag.Title = "Quản Lý Nhân Viên";
	Layout = "~/Views/Shared/Admin_Layout_Page.cshtml";
}

<div class="pagetitle">
	<h1>Quản Lý Nhân Viên</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="@Url.Action("Admin", "Admin")">Admin</a></li>
			<li class="breadcrumb-item">Danh Mục</li>
			<li class="breadcrumb-item active">Quản Lý Nhân Viên</li>
		</ol>
	</nav>
</div>

@*===================== Datatable =====================*@
<section class="section">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Bảng Dữ Liệu Nhân Viên</h5>
					<table class="table datatable">
						<thead>
							<tr>
								<th>Mã Nhân Viên</th>
								<th>Tên Nhân Viên</th>
								<th>Giới Tính</th>
								<th>Ngày Sinh</th>
								<th>Địa Chỉ</th>
								<th>Số Điện Thoại</th>
								<th>Email</th>
								<th>Tên Đăng Nhập</th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var item in Model)
								{
									<tr>
										<td>@item.MaNhanVien</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.TenTaiKhoan</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.GioiTinh</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.NgaySinh</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.DiaChi</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.SoDienThoai</td>
										<td>@item.tbl_TaiKhoan.tbl_ChiTietTaiKhoan.Email</td>
										<td>@item.TenDangNhap</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>